{% extends "layout.html" %}

{% block title %}
    Register Trips
{% endblock %}

{% block main %}
    <h1>Register Trips</h1>
    <br>
    <form action="/registertrips" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="start" placeholder="Start" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="destination" placeholder="Destination" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
{% endblock %}
